# Client
NEXT_PUBLIC_APP_URL=https://open-ft.app

# Auth
NEXT_PUBLIC_VERIFF_API_KEY=
VERIFF_API_KEY=
VERIFF_SHARED_SECRET_KEY=
NEXT_PUBLIC_VERIFF_BACKEND_URL=https://ai.open-ft.app/kyc

# Server
NEXT_PUBLIC_II_URL=https://identity.ic0.app
NEXT_PUBLIC_BACKEND_CANISTER_ID=
AI_WORKER_URL=

# GCP
GCP_MAPS_API_KEY=

# Mapbox
NEXT_PUBLIC_MAPBOX_API_KEY=

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
