AI_WORKER_URL=http://localhost:3001
NEXT_PUBLIC_APP_URL=https://open-ft.app
NEXT_PUBLIC_VERIFF_BACKEND_URL=https://ai.open-ft.app/kyc
NEXT_PUBLIC_VERIFF_API_KEY=
VERIFF_API_KEY=
VERIFF_SHARED_SECRET_KEY=
