# Tableland Configuration
# Your EVM Wallet Private Key (e.g. for Arbitrum Sepolia)
TABLELAND_PRIVATE_KEY=your_private_key_here

# Chain RPC Provider URL
CHAIN_PROVIDER_URL=https://arbitrum-sepolia.blockpi.network/v1/rpc/public
AI_WORKER_URL=http://localhost:3001
